<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Laboratorios de Informática - Facultad Tecnológica</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.css') }}">
            {#TODO: incluir el formato de impresion de fullcalendar#}
            {#TODO: mirar si se puede exportar a excel y pdf#}
            <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar-scheduler/dist/scheduler.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-fixedcolumns-bs/css/fixedColumns.bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-daterangepicker/daterangepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/featherlight/release/featherlight.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/featherlight/release/featherlight.gallery.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/select2/dist/css/select2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/jt.timepicker/jquery.timepicker.css') }}">
        {% endblock %}
        {% block javascripts %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="{{ asset('assets/vendor/html5shiv/dist/html5shiv.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/respond/dest/respond.min.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar-scheduler/dist/scheduler.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar/dist/locale/es.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jszip/dist/jszip.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/pdfmake/build/pdfmake.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/pdfmake/build/vfs_fonts.js') }}"></script>
            <script src="{{ asset('assets/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
            <script src="{{ asset('assets/vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/featherlight/release/featherlight.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/featherlight/release/featherlight.gallery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/select2/dist/js/select2.full.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jt.timepicker/jquery.timepicker.min.js') }}"></script>
            <script src="{{ asset('js/jquery.highlight.js') }}"></script>
            <script src="{{ asset('js/noty-settings.js') }}"></script>
            <script src="{{ asset('js/calendar-settings.js') }}"></script>
            <script src="{{ asset('js/exit-confirm.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div  class="container">
            <header>
                {{ include('menu.html.twig') }}
            </header>
            <div class="jumbotron">
                <article>
                    {% for tipo, mensajes in app.session.flashbag.all() %}
                        {% for mensaje in mensajes %}
                            <script>
                                notificacion({{ mensaje|json_encode()|raw }}, {{ tipo|json_encode()|raw }});
                            </script>
                        {% endfor %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="encabezado">{% block encabezado %}{% endblock %}</h3>
                        </div>
                    </div>
                    <br>
                    {% block article %}{% endblock %}
                </article>
            </div>
            <footer>
                <div class="text-center">&copy; {{ 'now' | date('Y') }}</div>
            </footer>
        </div>
    </body>
</html>
