<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Laboratorios de Informática - Facultad Tecnológica</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        {% endblock %}
        {% block javascripts %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('js/respond.min.js') }}"></script>
            <![endif]-->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div  class="container">
            <header>
                {{ include('menu.html.twig') }}
            </header>
            <div class="jumbotron">
                <article>
                    {% for mensaje in app.session.flashBag.get('success') %}
                        <div class="alert alert-success alert-dismissable fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <strong>{{ mensaje }}</strong>
                        </div>
                    {% endfor %}
                    {% block article %}{% endblock %}
                </article>
            </div>
            <footer>
                <div class="text-center">&copy; {{ 'now' | date('Y') }}</div>
            </footer>
        </div>
    </body>
</html>


