{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('index') }}">UD</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {{ route == 'index' ? 'class="active"' }}><a href="{{ path('index') }}">Inicio</a></li>
                <li class="dropdown {{ route starts with 'nosotros' ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Mision</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Objetivos</a></li>
                        <li><a href="#">Elementos de laboratorio</a></li>
                        <li><a href="#">Equipo de trabajo</a></li>
                        <li><a href="#">Reglamento</a></li>
                        <li><a href="#">Horarios</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ route starts with 'prestamos' ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prestamos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Salas</a></li>
                        <li><a href="#">Practica libre</a></li>
                        <li><a href="#">Equipo especializado</a></li>
                        <li><a href="#">Otros elementos</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ route starts with 'inventario' ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventario <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Traslados</a></li>
                        <li><a href="#">Ingresos</a></li>
                        <li><a href="#">Bajas</a></li>
                        <li><a href="#">Reportes</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ route starts with 'documentos' ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Paz y salvos</a></li>
                        <li><a href="#">Registro morosos</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ route starts with 'soporte' ? 'active' }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Soporte <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Agenda</a></li>
                        <li><a href="#">Estado de soporte</a></li>
                        <li><a href="#">Bajas y traslados</a></li>
                        <li><a href="#">Ingreso equipo de soporte</a></li>
                        <li><a href="#">Migracion y actualizacion de equipos</a></li>
                        <li><a href="#">Preventivo</a></li>
                        <li><a href="#">Correctivo</a></li>
                        <li><a href="#">Reportes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {#{% if is_granted('ROLE_ADMIN') %}#}
                    {% if (route starts with 'usuario' or
                    route starts with 'dependencia' or
                    route starts with 'lugar' or
                    route starts with 'clase') and
                    route != 'usuario_perfil'%}
                        {% set entidad = 'active' %}
                    {% endif %}

                    <li class="dropdown {{ entidad|default('') }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entidades <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{ route starts with 'usuario' and route != 'usuario_perfil' ? 'active' }}"><a href="{{ path('usuario_index') }}">Usuarios</a></li>
                            <li class="{{ route starts with 'dependencia' ? 'active' }}"><a href="{{ path('dependencia_index') }}">Dependencias</a></li>
                            <li class="{{ route starts with 'lugar' ? 'active' }}"><a href="{{ path('lugar_index') }}">Lugares</a></li>
                            <li class="{{ route starts with 'clase' ? 'active' }}"><a href="{{ path('clase_index') }}">Clases</a></li>
                            <li class="{{ route starts with 'proyectocurricular' ? 'active' }}"><a href="{{ path('proyectocurricular_index') }}">Proyectos Curriculares</a></li>
                        </ul>
                    </li>

                {#{% endif %}#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="{{ route == 'usuario_perfil' ? 'active' }}"><a href="{{ path('usuario_perfil') }}">{{ app.user }}</a></li>
                    <li><a href="{{ path('usuario_logout') }}">Salir</a></li>
                {% else %}
                    <li><a data-toggle="modal" data-target="#login" href="#">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


{{ render(controller('AppBundle:Usuario:modalLogin')) }}
