{% extends 'base.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block title %}Editar Dependencia{% endblock %}
{% block encabezado %}Editar Dependencia{% endblock %}

{% block article %}
    {{ form_start(formulario) }}
    {% if not formulario.vars.valid %}
        <script>
            notificacion('Hay errores en el formulario', 'error');
        </script>
    {% endif %}
    <div class="form-group">
        {{ form_label(formulario.id) }}
        {{ form_widget(formulario.id, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.id) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.nombre) }}
        {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
    </div>
    <div class="text-center">
        {{ form_widget(formulario.guardar, {'attr' : {'class' : 'btn btn-success btn-editar'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar'}) }}
        {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning btn-editar'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
    </div>

    {{ form_end(formulario) }}
    <hr style="height:1px; visibility:hidden; margin-bottom:-18px;">
    <div class="text-center">
        {{ form_start(delete_form) }}
        <button type="submit" onclick="return confirm('¿Está seguro?')" class="btn btn-danger btn-editar">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Eliminar
        </button>
        <a href="{{ path('dependencia_index') }}" class="btn btn-primary btn-editar">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Volver
        </a>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}