{% extends 'base.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block article %}
    {{ form_start(formulario) }}
    {% if not formulario.vars.valid %}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <strong>Hay errores en el formulario</strong>
        </div>
    {% endif %}
    <div class="form-group">
        {{ form_label(formulario.id) }}
        {{ form_widget(formulario.id, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.id) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.nombre) }}
        {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.apellido) }}
        {{ form_widget(formulario.apellido, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.apellido) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.email) }}
        {{ form_widget(formulario.email, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.email) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.passwordEnClaro.pass1) }}
        {{ form_widget(formulario.passwordEnClaro.pass1, {'attr' : {'class' : 'form-control'}}) }}
        <span class="help-block">Ingrese una nueva contraseña para modificar la actual.</span>
        <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass1) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.passwordEnClaro.pass2) }}
        {{ form_widget(formulario.passwordEnClaro.pass2, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass2) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.dependencia) }}
        {{ form_widget(formulario.dependencia, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.dependencia) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.cargo) }}
        {{ form_widget(formulario.cargo, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.cargo) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.funciones) }}
        {{ form_widget(formulario.funciones, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.funciones) }}</span>
    </div>
    <div class="checkbox">
        <label>{{ form_widget(formulario.estaActivo) }} {{ form_label(formulario.estaActivo) }}</label>
        <span class="text-danger">{{ form_errors(formulario.estaActivo) }}</span>
    </div>
    <div class="text-center">
        {{ form_widget(formulario.guardar, {'attr' : {'class' : 'btn btn-success'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar'}) }}
        {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
    </div>

    {{ form_end(formulario) }}
    <div class="text-center">
        {{ form_start(delete_form) }}
        <button type="submit" onclick="return confirm('¿Está seguro?')" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Eliminar
        </button>
        <a href="{{ path('usuario_index') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Volver
        </a>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}