{% extends 'layout.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block page_title %}Registrarse como Usuario{% endblock %}
{% block content_title %}Registrarse como Usuario{% endblock %}

{% block main %}
    {{ form_start(formulario, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.documento, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.documento, {'attr' : {'class' : 'form-control', 'autofocus' : 'autofocus'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.documento) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.codigo, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.codigo, {'attr' : {'class' : 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.codigo) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.nombre, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.apellido, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.apellido, {'attr' : {'class' : 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.apellido) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.email, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.email, {'attr' : {'class' : 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.email) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.passwordEnClaro.pass1, null, {'label_attr' : {'class' : 'col-sm-2 control-label required'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.passwordEnClaro.pass1, {'attr' : {'class' : 'form-control', 'required': true}}) }}
                        <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass1) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.passwordEnClaro.pass2, null, {'label_attr' : {'class' : 'col-sm-2 control-label required'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.passwordEnClaro.pass2, {'attr' : {'class' : 'form-control', 'required': true}}) }}
                        <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass2) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.rol, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.rol, {'attr' : {'class' : 'form-control', 'data-widget': 'select2'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.rol) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.cargo, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.cargo, {'attr' : {'class' : 'form-control'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.cargo) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                {#TODO: el estado no se deberia pedir en el registro#}
                <div class="form-group">
                    {{ form_label(formulario.estado, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.estado, {'attr' : {'class' : 'form-control', 'data-widget': 'select2'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.estado) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.dependencia, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.dependencia, {'attr' : {'class' : 'form-control', 'data-widget': 'select2'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.dependencia) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.proyectoCurricular, null, {'label_attr' : {'class' : 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(formulario.proyectoCurricular, {'attr' : {'class' : 'form-control', 'data-widget': 'select2'}}) }}
                        <span class="text-danger">{{ form_errors(formulario.proyectoCurricular) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(formulario.crear, {'attr' : {'class' : 'btn btn-primary'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Registrarse'}) }}
                {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
            </div>
        </div>
    {{ form_end(formulario) }}
{% endblock %}

{% block body_javascript %}
    <script type="text/javascript">
        $(function(){
            $('#usuario_crear').click(function( event ) {
                if (grecaptcha.getResponse()) {
                    return true;
                } else {
                    event.preventDefault();
                    notificacion('Complete el reCAPTCHA antes de continuar.', 'error');
                }
            });
        })
    </script>
{% endblock %}
