{% extends 'base.html.twig' %}

{% block title %}Registro de nuevo usuario{% endblock %}

{% block article %}
    {{ form_start(formulario) }}
        {% if not formulario.vars.valid %}
            <div class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Hay errores en el formulario</strong>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(formulario.id, 'Identificación') }}
            {{ form_widget(formulario.id, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.id) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.nombre) }}
            {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.apellido) }}
            {{ form_widget(formulario.apellido, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.apellido) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.email) }}
            {{ form_widget(formulario.email, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.email) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.password.pass1) }}
            {{ form_widget(formulario.password.pass1, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.password.pass1) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.password.pass2) }}
            {{ form_widget(formulario.password.pass2, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.password.pass2) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.cargo) }}
            {{ form_widget(formulario.cargo, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.cargo) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.funciones) }}
            {{ form_widget(formulario.funciones, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.funciones) }}</span>
        </div>
        <div class="form-group">
            {{ form_label(formulario.dependencia) }}
            {{ form_widget(formulario.dependencia, {'attr' : {'class' : 'form-control'}}) }}
            <span class="text-danger">{{ form_errors(formulario.dependencia) }}</span>
        </div>
        <div class="checkbox">
            <label>{{ form_widget(formulario.estaActivo) }} {{ form_label(formulario.estaActivo) }}</label>
            <span class="text-danger">{{ form_errors(formulario.estaActivo) }}</span>
        </div>

        {{ form_widget(formulario.registrar, {'attr' : {'class' : 'btn btn-block btn-success'}}) }}
        {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-block btn-danger'}}) }}

    {{ form_end(formulario) }}
{% endblock %}