{% extends 'layout.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block page_title %}Registrarse como Usuario{% endblock %}
{% block content_title %}Registrarse como Usuario{% endblock %}

{% block main %}
    {{ form_start(formulario, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.documento) }}
                    {{ form_widget(formulario.documento, {'attr' : {'class' : 'form-control', 'autofocus' : 'autofocus'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.documento) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.codigo) }}
                    {{ form_widget(formulario.codigo, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.codigo) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.nombre) }}
                    {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.apellido) }}
                    {{ form_widget(formulario.apellido, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.apellido) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.email) }}
                    {{ form_widget(formulario.email, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.email) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.passwordEnClaro.pass1) }}
                    {{ form_widget(formulario.passwordEnClaro.pass1, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass1) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.passwordEnClaro.pass2) }}
                    {{ form_widget(formulario.passwordEnClaro.pass2, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.passwordEnClaro.pass2) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.rol) }}
                    {{ form_widget(formulario.rol, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.rol) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.cargo) }}
                    {{ form_widget(formulario.cargo, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.cargo) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.estado) }}
                    {{ form_widget(formulario.estado, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.estado) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.dependencia) }}
                    {{ form_widget(formulario.dependencia, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.dependencia) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_label(formulario.proyectoCurricular) }}
                    {{ form_widget(formulario.proyectoCurricular, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.proyectoCurricular) }}</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    {{ form_widget(formulario.captcha, {'attr' : {'class' : 'form-control'}}) }}
                    <span class="text-danger">{{ form_errors(formulario.captcha) }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                {{ form_widget(formulario.crear, {'attr' : {'class' : 'btn btn-primary action-save'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Crear'}) }}
                {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
            </div>
        </div>
    {{ form_end(formulario) }}
{% endblock %}
