{% extends 'base.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block title %}Nuevo Evento{% endblock %}
{% block encabezado %}Nuevo Evento{% endblock %}

{% block article %}
    {{ form_start(formulario) }}
    {% if not formulario.vars.valid %}
        <script>
            notificacion('Hay errores en el formulario', 'error');
        </script>
    {% endif %}
    <div class="form-group">
        {{ form_label(formulario.lugar) }}
        {{ form_widget(formulario.lugar, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.lugar) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.fecha_inicio) }}
        <div class='input-group'>
            {{ form_widget(formulario.fecha_inicio, {'attr' : {'class' : 'form-control'}}) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <span class="text-danger">{{ form_errors(formulario.fecha_inicio) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.fecha_fin) }}
        <div class='input-group'>
            {{ form_widget(formulario.fecha_fin, {'attr' : {'class' : 'form-control'}}) }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <span class="text-danger">{{ form_errors(formulario.fecha_fin) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.tipo) }}
        {{ form_widget(formulario.tipo, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.tipo) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.materia) }}
        {{ form_widget(formulario.materia, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.materia) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.grupo) }}
        {{ form_widget(formulario.grupo, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.grupo) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.observaciones) }}
        {{ form_widget(formulario.observaciones, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.observaciones) }}</span>
    </div>
    <div class="text-center">
        {{ form_widget(formulario.crear, {'attr' : {'class' : 'btn btn-success'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Crear'}) }}
        {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
        <a href="{{ path('evento_index') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Lista
        </a>
    </div>

    {{ form_end(formulario) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            try {
                $("#evento_fecha_inicio").daterangepicker({
                    startDate: moment().startOf('minute').add(5, 'minutes'),
                    minDate: moment().startOf('minute').add(5, 'minutes'),
                    singleDatePicker: true,
                    showDropdowns: true,
                    timePicker: true,
                    timePicker24Hour: true,
                    locale: {
                        format: "YYYY-MM-DD HH:mm",
                        applyLabel: "Aplicar",
                        cancelLabel: "Cancelar",
                        daysOfWeek: moment.weekdaysMin(),
                        monthNames: moment.monthsShort(),
                        firstDay: moment.localeData().firstDayOfWeek()
                    }
                });

                $("#evento_fecha_fin").daterangepicker({
                    startDate: moment().startOf('minute').add(2, 'hours').add(5, 'minutes'),
                    minDate: moment().startOf('minute').add(10, 'minutes'),
                    singleDatePicker: true,
                    showDropdowns: true,
                    timePicker: true,
                    timePicker24Hour: true,
                    locale: {
                        format: "YYYY-MM-DD HH:mm",
                        applyLabel: "Aplicar",
                        cancelLabel: "Cancelar",
                        daysOfWeek: moment.weekdaysMin(),
                        monthNames: moment.monthsShort(),
                        firstDay: moment.localeData().firstDayOfWeek()
                    }
                });
            } catch (e) {
                console.log(e.message);
            }
        });
    </script>
{% endblock %}