{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facultads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facultad in facultads %}
            <tr>
                <td><a href="{{ path('facultad_show', { 'id': facultad.id }) }}">{{ facultad.id }}</a></td>
                <td>{{ facultad.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('facultad_show', { 'id': facultad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('facultad_edit', { 'id': facultad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facultad_new') }}">Create a new facultad</a>
        </li>
    </ul>
{% endblock %}
