<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %} - Laboratorios de Informática - Facultad Tecnológica</title>

        {% block head_stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/easyadmin-all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/noty/lib/noty.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/fullcalendar-scheduler/dist/scheduler.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}">
            <style>
                {{ easyadmin_config('_internal.custom_css')|raw }}
            </style>
        {% endblock %}

        {% for css_asset in easyadmin_config('design.assets.css') %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}

        {% block head_favicon %}
            {% set favicon = easyadmin_config('design.assets.favicon') %}
            <link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}" />
        {% endblock %}

        {% block head_javascript %}
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-3172824022383760",
                    enable_page_level_ads: true
                });
            </script>

            {% block adminlte_options %}
                <script type="text/javascript">
                    var AdminLTEOptions = {
                        animationSpeed: 'normal',
                        sidebarExpandOnHover: false,
                        enableBoxRefresh: false,
                        enableBSToppltip: false,
                        enableFastclick: false,
                        enableControlSidebar: false,
                        enableBoxWidget: false
                    };
                </script>
            {% endblock %}

            <script src="{{ asset('bundles/easyadmin/javascript/easyadmin-all.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar/dist/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar-scheduler/dist/scheduler.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/fullcalendar/dist/locale/es.js') }}"></script>
            <script src="{{ asset('assets/vendor/noty/lib/noty.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
            <script src="{{ asset('assets/vendor/highcharts/highcharts.js') }}"></script>
            <script src="{{ asset('assets/vendor/highcharts/modules/exporting.js') }}"></script>
            <script src="{{ asset('assets/vendor/highcharts/js/modules/drilldown.js') }}"></script>
            <script src="{{ asset('js/easy-admin.js') }}"></script>
            <script src="{{ asset('js/noty-settings.js') }}"></script>
            <script src="{{ asset('js/calendar-settings.js') }}"></script>
            <script src="{{ asset('js/highcharts-options.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% endblock head_javascript %}

        {% if easyadmin_config('design.rtl') %}
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap-rtl.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/adminlte-rtl.min.css') }}">
        {% endif %}

        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/easyadmin/stylesheet/html5shiv.min.css') }}"></script>
            <script src="{{ asset('bundles/easyadmin/stylesheet/respond.min.css') }}"></script>
        <![endif]-->
    </head>

    {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }}">
        <div class="wrapper">
        {% block wrapper %}
            <header class="main-header">
            {% block header %}
                <nav class="navbar" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">{{ 'toggle_navigation'|trans(domain = 'EasyAdminBundle') }}</span>
                    </a>

                    <div id="header-logo">
                        {% block header_logo %}
                            <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('index') }}">
                                {{ easyadmin_config('site_name')|raw }}
                            </a>
                        {% endblock header_logo %}
                    </div>

                    <div class="navbar-custom-menu">
                        {% block header_custom_menu %}
                            {% set _logout_path = easyadmin_logout_path() %}
                            <ul class="nav navbar-nav">
                                <li class="dropdown user user-menu">
                                    {% block user_menu %}
                                        <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>

                                        {% if app.user|default(false) == false %}
                                            <div class="btn-group">
                                                <button type="button" class="btn" data-toggle="dropdown">
                                                    <i class="hidden-xs fa fa-user-times"></i>
                                                    {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                                                </button>
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{{ path('usuario_login') }}"><i class="fa fa-sign-in"></i> {{ 'user.signin'|trans() }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('usuario_registro') }}"><i class="fa fa-user-plus"></i> {{ 'user.register'|trans() }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% elseif not _logout_path %}
                                            <i class="hidden-xs fa fa-user"></i>
                                            {{ app.user|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                                        {% else %}
                                            <div class="btn-group">
                                                <button type="button" class="btn" data-toggle="dropdown">
                                                    <i class="hidden-xs fa fa-user"></i>
                                                    {{ app.user|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                                                </button>
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="{{ path('usuario_perfil') }}"><i class="fa fa-id-badge"></i> {{ 'user.profile'|trans() }}</a>
                                                    </li>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <li>
                                                            <a href="{{ path('admin') }}"><i class="fa fa-lock"></i> {{ 'user.admin'|trans() }}</a>
                                                        </li>
                                                    {% endif %}
                                                    <li>
                                                        <a href="{{ _logout_path }}"><i class="fa fa-sign-out"></i> {{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endblock user_menu %}
                                </li>
                            </ul>
                        {% endblock header_custom_menu %}
                    </div>
                </nav>
            {% endblock header %}
            </header>

            <aside class="main-sidebar">
            {% block sidebar %}
                {{ include('sidebar.html.twig') }}
            {% endblock sidebar %}
            </aside>

            <div class="content-wrapper">
            {% block content %}
                {% block flash_messages %}
                    {{ include(':easy_admin:flash_messages.html.twig') }}
                {% endblock flash_messages %}

                <section class="content-header">
                {% block content_header %}
                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                {% endblock content_header %}
                {% block content_help %}
                    {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                        <div class="box box-widget help-entity">
                            <div class="box-body">
                                {{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock content_help %}
                </section>

                <section id="main" class="content">
                    {% block main %}{% endblock %}
                </section>
            {% endblock content %}
            </div>
        {% endblock wrapper %}
        </div>

        {% block body_javascript %}{% endblock body_javascript %}

        {% for js_asset in easyadmin_config('design.assets.js') %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}
    </body>
    {% endblock body %}
</html>
