{% extends 'base.html.twig' %}
{% form_theme formulario 'form/fields.html.twig' %}

{% block title %}Nuevo Proyecto Curricular{% endblock %}
{% block encabezado %}Nuevo Proyecto Curricular{% endblock %}

{% block article %}
    {{ form_start(formulario) }}
    {% if not formulario.vars.valid %}
        <script>
            notificacion('Hay errores en el formulario', 'error');
        </script>
    {% endif %}
    <div class="form-group">
        {{ form_label(formulario.id) }}
        {{ form_widget(formulario.id, {'attr' : {'class' : 'form-control', 'autofocus' : 'autofocus'}}) }}
        <span class="text-danger">{{ form_errors(formulario.id) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.nombre) }}
        {{ form_widget(formulario.nombre, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.nombre) }}</span>
    </div>
    <div class="form-group">
        {{ form_label(formulario.facultad) }}
        {{ form_widget(formulario.facultad, {'attr' : {'class' : 'form-control'}}) }}
        <span class="text-danger">{{ form_errors(formulario.facultad) }}</span>
    </div>
    <div class="text-center">
        {{ form_widget(formulario.crear, {'attr' : {'class' : 'btn btn-success'}, 'label' : '<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Crear'}) }}
        {{ form_widget(formulario.restablecer, {'attr' : {'class' : 'btn btn-warning'}, 'label' : '<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restablecer'}) }}
        <a href="{{ path('proyectocurricular_index') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            Lista
        </a>
    </div>
    {{ form_end(formulario) }}
{% endblock %}
